.char-name {
    color: red;
    text-align: center;
}

.char-info {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 4px;
    text-align: center;
}

.char-stat {
    font-weight: bold;
}

.card {
    margin: auto;
    width: 250px;
    padding: 10px;
}

.back-button {
    position: absolute;
    left:    0;
    bottom:   0;
    margin-bottom: 15px;
    margin-left: 15px;
}