.title {
    text-align: center;
    font-size: 6rem;
    color: red;
    margin: 0;
}

.list-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.char-item-list {
    font-family: Gotham Rounded, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.page-nav {
    display: flex;
    justify-content: center;
}